@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import "tailwindcss";

/* Reset default styles */
/* * {
    margin: 0;
    padding: 0; */
/* box-sizing: border-box; */
/* } */
/* 
body {
    font-family: "Manrope", sans-serif;
    background-color: #f5f5f5;
    color: black;
    font-weight: bold;
    font-size: 42px;
} */

input {
    font-weight: normal;
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
    border-width: 1px;
}

textarea {
    font-weight: normal;
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
    border-width: 1px;
    width: 500px;
    height: 100px;
}

button {
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
}

button:hover {
    cursor: pointer;
}
